/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    padding-top: 70px;
    padding-bottom: 30px;
}
.alert .glyphicon {
    cursor: pointer;
}

















