/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    padding-top: 70px;
    padding-bottom: 30px;
}
.form-signin {
    max-width: 350px;
    margin: 0 auto;
}
.alert .glyphicon {
    cursor: pointer;
}

















