/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    padding-top: 70px;
    padding-bottom: 30px;
}
table th,
table td{
    text-align: center;
    vertical-align: middle!important;
}
.alert .glyphicon {
    cursor: pointer;
}
img.avatar {
    width: 150px;
    height: 150px;
    background: url("../img/adm/gin-tonic.png") no-repeat 0 0;
    background-size: cover;
}
table img.avatar {
    width: 64px;
    height: 64px;
}

@media (max-width: 767px){
    thead {
        display:none;
    }
    .table tbody tr td {
        display: block;
        position: relative;
        padding-left: 30%;
        text-align: left;
    }
    .table-responsive {
        overflow: hidden
    }
    tbody tr td:nth-child(1):before {
        content: "Avatar";
    }
    tbody tr td:nth-child(2):before {
        content: "User";
    }
    tbody tr td:nth-child(3):before {
        content: "Name";
    }
    tbody tr td:nth-child(4):before {
        content: "Surname";
    }
    tbody tr td:nth-child(5):before {
        content: "E-mail";
    }
    tbody tr td:nth-child(6):before {
        content: "Role";
    }
    tbody tr td:before {
        position: absolute;
        top: 23%;
        left: 0;
        width: 45%;
        text-align: left;
        white-space: nowrap;
        padding-left: 2%;
    }
}

















