/* ==========================================================================
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
   ========================================================================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    font-family: Arial, Helvetica, Verdana;
}
/* Header */
header {
    height: 80px;
}
.container {
    margin: 0 auto;
    width: 1080px;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.logo {
    float: left;
    font-size: 34px;
}
.description {
    float: left;
    font-size: 20px;
    clear: left;
    margin-left: 136px;
}
nav.secondary {
    float: right;
}
/* Menu */
nav.primary {
    text-align: center;
    clear: both;
    margin: 20px auto;
}
nav.primary a {
    text-decoration: none;
    color:#000;
    padding: 5px 10px;
}
nav.primary a:hover, nav.primary a.active {
    text-decoration: underline;
}
/* Section */
section {
    margin: 50px auto;
}
article {
    margin: 10px 15px;
}
article h2 {
    font-size: 22px;
    margin: 15px 0;
    font-weight: 600;
}
article a {
    margin: 10px 0;
    display: block;
    color: blue;
    text-decoration: none;
}
article a:hover {
    text-decoration: underline;
}
article p {
margin: 10px 0;
}
/* Footer */
footer p {
    margin: 15px 15px 0;
    padding: 12px;
    border-top: 1px solid #ddd;
}